@using ProjectVersion001.Models
@model ProjectVersion001.Models.CourseAssign

@using (Html.BeginForm("TeacherId")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Teacher Assign</h4>
        <hr />
        @Html.ValidationSummary(true)
      

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherId, "TeacherId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TeacherId", String.Empty)
                @Html.ValidationMessageFor(model => model.TeacherId)
            </div>
        </div>

       

        
    </div>
}

